.chat-main 
  .group-info
    .group-info_left_box
      .group-info_left_box_group
        test
      .group-info_left_box_member
        tekona
    .group-info_right_box
      %a.group-info__right_box_button
        = link_to "#" do 
          Edit
  .message-list
    .message
      .message__header
        .message__header_name
          test
        .message__header_date
          2020/1/16
      .message__text
        hello
    .message
      .message__header
        .message__header_name
          test
        .message__header_date
          2020/1/16
      .message__text
        hello
    .message
      .message__header
        .message__header_name
          test
        .message__header_date
          2020/1/16
      .message__text
        hello
  .message-form
    .form-box
      %input{type: "text" , class: "form-box_text" , placeholder: "type a message"}
      %label{class: "form-box_image"}
        = icon('fas' , 'image')
        %input{type: "file", class: "form-box_image_file"}
    %input{type: "submit" , class: "submit-button"}